<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <title>毒品防治資訊平台</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
</head>
<body class="is-preload">
    <div id="page-wrapper">




        <!-- Main -->
            
                
            <div class="login_page">
                        <div id="container1">
                  
                          <div class="login">  
                            
                            <h3 > Login</h3>
                  
                            <form method="post" action="" onsubmit="login(this); return false"> {% csrf_token %}
                              <input class="input_login" id="username" name="username" placeholder="帳號" required>
                              <div class="tab"></div>
                              <input type="password" class="input_login"  id="password" name="password" placeholder="密碼" required>
                              <div class="tab"></div>
                              <!-- <input class="submitlogin" type="submit" value="登入" onclick="location.href='frontpage.html'"> -->
                              <input class="submitlogin" type="submit" value="登入" id="loginbtn">
                              <!-- <<form action="" method="POST">
                                {% csrf_token %}
                                {{ form }}
                            
                                <input class="btn btn-primary" type="submit" value="" />
                              </form> -->
                            </form>
                  
                            <!-- <h5 onclick="show_hide()">註冊帳號</h5> -->
                            
                          </div><!-- login end-->
                        </div><!-- container1 end-->
                      </div><!-- login_page end-->
                    <!--註冊-->  
                      <!-- <div class="signup_page">
                        <div id="container2">
                  
                          <div class="signup">  
                            
                            <h3>註冊 Sign Up</h3>
                  
                            <form action="用戶管理.php">
                              <input type="text" id="fullname" name="fullname" placeholder="使用者全名" required>
                              <div class="tab"></div>
                              <input type="text" id="username2" name="username" placeholder="帳號" required>
                              <div class="tab"></div>
                              <input type="text" id="password2" name="password" placeholder="密碼" required>
                              <div class="tab"></div>
                              <input type="text" id="comfirm_password" name="comfirm_password" placeholder="確認密碼" required>
                              <div class="tab"></div>            
                              <input type="submit" value="註冊" class="submit">
                            </form>  
                  
                            <h5 onclick="show_hide()">登入帳號</h5>
                            
                          </div> signup end
                        </div> container2 end
                      </div>  --> <!--signup_page end-->
                  
                      <div id="copyright">
                        <h4>毒品資訊系統</h4><!--因為js，會跑版--> 
                      </div>    
                
           

        <!-- Footer -->


    </div>

    <!-- Scripts -->
      <script src="{% static 'assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
      <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
      <script src="{% static 'assets/js/browser.min.js' %}"></script>
      <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
      <script src="{% static 'assets/js/util.js' %}"></script>
      <script src="{% static 'assets/js/main.js' %}"></script>

      <script src="{% static 'assets/js/login.js' %}"></script>

</body>
</html>