<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <head>
        <title>毒品防治資訊平台</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{#            <link rel="stylesheet" href="assets/css/main.css" />#}
            <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
    </head>
    <body class="is-preload">
		<div id="page-wrapper">
            <!-- loading畫面 -->
            <div hidden id="spinner" class="spinner"></div>


			<!-- Nav -->
			<nav id="nav">
                <ul>
                    <li><a href="{% url 'frontpage' %}">首頁</a></li>
                    <li><a href="{% url 'Newsview' %}">新聞查看</a></li>
                    <li><a href="{% url 'Searchview' %}">統計資料</a></li>
                    <li><a href="{% url 'Druginfolist' %}">毒品介紹</a></li>
                    <!-- 新聞管理跟統計資料管理需要登入才能操作 -->
                    <!--  <li class="current"><a href="#">新聞管理</a></li> -->
					<!-- <li><a href="{% url 'Mgrsearchview' %}">統計資料管理</a></li> -->
					<li class="current"><a href="#" onclick="jumpToNews()">新聞管理</a></li>
					<li><a href="#" onclick="jumpToSearch()">統計資料管理</a></li>
                    <!-- <li><a class="btn" href="{% url 'login' %}">登入</a></li> -->
					<li><a class="btn" href="#" onclick="logInOut()" id="loginSts">登入</a></li>
					<!-- 顯示登入資訊 -->
					<li><span class="navspan" id="loginSession"></span></li>
                </ul>
            </nav>

			<!-- Main -->
            <section id="main">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content">

                                <!-- Content -->

                                    
                                        <article class="box page-content">

                                            <header>
                                                <h2>新聞管理</h2>
                                                <!-- <ul>
                                                    <ul><h4>標題</h4><input type="search" class="search" placeholder="搜尋標題"><button style="margin-right: 3%;">搜尋</button></ul>
                                                </ul> -->
                                                <form method="post" action="" onsubmit="addNews(this); return false"> {% csrf_token %}
                                                    <ul>
                                                        <ul><h4>標題</h4><input type="text" id="addTitle" class="search" placeholder="新增標題" required></ul>
                                                        <ul><h4>連結</h4><input type="url" id="addLink" class="search" placeholder="新增連結" required></ul>
                                                        <ul><input style="margin-right: 3%;" type="submit" value="新增">
                                                            <button type="reset">清除</button>
                                                            <input type="button" style="margin-left: 3%;" onclick="autoUpdateNews()" value="更新"></ul>
                                                        <!-- <ul><button style="margin-right: 3%;" onclick="addNews()">確認</button><button>取消</button></ul> -->
                                                    </ul>
                                                </form>
                                            </header>
                                            <section id="context" data-idf="Mgrnewsview">
                                                
                                            
                                            
                                            </section >
                                        </article>
                                    

                            </div>
                        </div>
                        <div class="col-12">

                            <!-- Features -->
                                <section class="box features">
                                
                                    
                                </section>

                        </div>
                    </div>
                </div>
                <!-- 分頁 -->
                <div class="pagecenter">
                    <ul class="paginationStyle" id="pageid"></ul>
                </div>
            </section>

			<!-- Footer -->
            <footer id="footer">
                <div class="container">
                    <div class="row gtr-200">
                        <div class="col-12">
                        <section>
                            <h2 class="major">
                                <span>About us</span>
                            </h2>
                            <p>近年來台灣吸食毒品總人數有逐漸下降的趨勢，但有報導指出吸食毒品的年齡層卻逐漸下降，且人數逐漸增加。此系統收集了台灣近年來毒品吸食人數的變化，依據性別、年齡、毒品種類等等進行比較，並以圖表視覺化呈現，另外也收集了亞洲其他國家的毒品人數相關資料，觀察其他國家是否也有相同情況。</p>
                        </section>
                    </div>
                </div>
            </div>
            </footer>

		</div>
		<!-- Scripts -->
            <script src="{% static 'assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
            <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'assets/js/browser.min.js' %}"></script>
            <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
            <script src="{% static 'assets/js/util.js' %}"></script>
            <script src="{% static 'assets/js/main.js' %}"></script>

            <script src="{% static 'assets/js/session.js' %}"></script>
            <!-- 分頁 -->
            <script src="{% static 'assets/js/newsPagination.js' %}"></script>
            <!-- 新增、刪除、修改 -->
            <script src="{% static 'assets/js/newsModify.js' %}"></script>

	</body>
</html>